html,
body{
	height: 100%;
}
body{
	font-size: 16px;
	line-height: 26px;
	color: $default;
	@extend %quicksand-500;
	display: flex;
	flex-direction: column;
}
main{
	flex-grow: 1;
}
a {
	font-size: 16px;
	line-height: 26px;
	color: $default;
	@extend %quicksand-500;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.title{
	font-size: 48px;
	line-height: 26px;
	@extend %roboto-700;
	color: $title;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.text{
	width: 530px;
	text-align: center;
	margin: 0 auto 60px auto;
}