// 16 м.
@import 'vars';
// Шрифты
@import 'fonts';
// Обнуления стилей
@import 'reset';
// Главные стили
@import 'global';

.header{
	padding: 40px 0;
	&__wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.menu{
	&__list{
		display: flex;
	}
	&__item + .menu__item{
		padding-left: 35px;
	}
	&__link{
		@extend %quicksand-400;
		color: $title;
		text-transform: uppercase;
		padding-bottom: 1px;
		transition: all .3s;
		&:hover{
			@extend %quicksand-500;
			color: $accent;
			border-bottom: 1px solid $accent;
		}
	}
	&__link--active{
		@extend %quicksand-500;
		color: $accent;
		border-bottom: 1px solid $accent;
	}
}
.user-nav{
	display: flex;
	&__link{
		position: relative;
	}
	&__link + .user-nav__link{
		margin-left: 25px;
	}
	&__num{
		position: absolute;
		width: 20px;
		height: 20px;
		background-color: $accent;
		border-radius: 50%;
		top: -9px;
		right: -14px;
		font-size: 12px;
		line-height: 20px;
		text-align: center;
		color: #fff;
	}
}










// Медиа-запросы
@import 'media';